html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.tableDIV {
  width: 1500px;
  height: 1500px;
  margin: auto;
}

.mapDIV {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridDIV {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 1000px;
  height: 1000px;
}

.rawDIV {
  position: relative;
  float: left;
}

.gridCellDIV {
  float: left;
  color: white;
  opacity: 1;
  position: relative;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7vw;
  z-index: 100 !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
