html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  background: black;
}

.tableDIV {
  width: 1500px;
  height: 1500px;
  margin: auto;
}

.mapDIV {
  position: relative;
  width: 100%;
  height: 100%;
}

.gridDIV {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 1000px;
  height: 1000px;
}

.rawDIV {
  position: relative;
  float: right;
}

.gridCellDIV {
  float: left;
  color: white;
  opacity: 1;
  position: relative;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1vw;
  z-index: 100 !important;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
