body {
  background-color: black;
}
.threeDiv {
  background-color: black;
}

.infoDiv {
  z-index: 10;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

.logoDiv {
  padding-top: 1rem;
}

.radarDiv {
  z-index: 10;
}
